# Example Fly.io config
app = "mansour-portfolio"
primary_region = "mad"

[build]
  dockerfile = "Dockerfile"

[env]
  FLASK_APP = "app.py"

[[services]]
  internal_port = 8080
  protocol = "tcp"
  [[services.ports]]
    handlers = ["http"]
    port = 80
  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443
